{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<style>
    .print-button {
        margin-bottom: 0.5cm;
    }

    .tab {
        font-family: monospace;
        white-space: nowrap;
    }

    @media print {
        .print-button {
            display: none;
        }

        @page {
            margin-left: 0.5cm;
            margin-right: 2cm;
            margin-top: 2cm;
            margin-bottom: 2cm;
            size: A4;
            size: portrait;
        }
    }
</style>

<div class="print-button">
    <button type="button" onclick="window.print()"><b>Print</b></button>
</div>

<div class="tab">
    {{ content|safe }}
</div>

{% endblock %}
